var TeamMediaCards = React.createClass({
  render: function(){
    return (
      <div className="about_team_show_page">
        <h2 className="ui horizontal divider header"> About Us </h2>

         <p> We're Harvard students who want to make this campus a safer place.</p>
        <br/>

        <div className="ui stackable two column grid">
          <div className="column">
            <div className="ui card">
              <div className="image">
                <img src="<%= image_url('http://i.imgur.com/62hJ6Br.jpg') %>" />
              </div>
              <div className="content">
                <a className="header">Mike Monovoukas</a>

                <div className="meta">
                  <span className="date">Nickname: Zorba</span>
                </div>

                <div className="header">
                  <a href="https://github.com/mikemono08"><i className="github icon"></i></a>
                  <a href="https://twitter.com/mikemono08"><i className="twitter icon"></i></a>
                  <a href="https://www.linkedin.com/in/timcannady"><i className="linkedin icon"></i></a>
                </div>

                <div className="description">
                  Mike's Bio
                </div>

              </div>
            </div>

          </div>

          <div className="column">
            <div className="ui card">
              <div className="image">
                <img src="<%= image_url('team_photos/coravos.jpg') %>" />
              </div>
              <div className="content">
                <a className="header">Andrea Coravos</a>

                <div className="meta">
                  <span className="date">Nickname: Dre</span>
                </div>

                <div className="header">
                  <a href="https://github.com/acoravos"><i className="github icon"></i></a>
                  <a href="https://twitter.com/andreacoravos"><i className="twitter icon"></i></a>
                  <a href="https://www.linkedin.com/in/andreacoravos"><i className="linkedin icon"></i></a>
                </div>

                <div className="description">
                  Andrea made a midcareer switch to learn how to code. She believes that technology, specifically software, is the future of all well-run businesses. She believes that software can help empower all students to be safer in their communities.
                </div>

              </div>
            </div>
          </div>
        </div>

        <div className="ui stackable two column grid">
          <div className="column">
            <div className="ui card">
              <div className="image">
                <img src="<%= image_url('http://i.imgur.com/JFEuIXq.jpg') %>" />
              </div>
              <div className="content">
                <a className="header">Sam Li</a>

                <div className="meta">
                  <span className="date">Nickname: The Wizard</span>
                </div>

                <div className="header">
                  <a href="https://github.com/mwhatters"><i className="github icon"></i></a>
                  <a href="https://twitter.com/mwhatters"><i className="twitter icon"></i></a>
                  <a href="https://www.linkedin.com/pub/marshall-hattersley/66/552/211"><i className="linkedin icon"></i></a>
                </div>

                <div className="description">
                  Master of HBS CODE club. Helped Goldman make software. Helped Google make money.
                </div>

              </div>
            </div>
          </div>

          <div className="column">
            <div className="ui card">
              <div className="image">
                <img src="<%= image_url('http://i.imgur.com/CNsqSKC.jpg') %>" />
              </div>
              <div className="content">
                <a className="header">Yoonju Kim</a>

                <div className="meta">
                  <span className="date">Nickname: Stealth</span>
                </div>

                <div className="header">
                  <a href="https://github.com/ynju"><i className="github icon"></i></a>
                  <a href="https://twitter.com/ynju"><i className="twitter icon"></i></a>
                  <a href="https://www.linkedin.com/in/jacobrogers42"><i className="linkedin icon"></i></a>
                </div>

                <div className="description">
                  Math and computer whiz from greatest university ever.
                </div>

              </div>
            </div>
          </div>
        </div>
        <br/>

      </div>
      )
  }
})
